<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<base th:href="${#request.getContextPath()}+'/'">
<meta charset="UTF-8">

<link href="jquery/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="jquery/bs_pagination-master/css/jquery.bs_pagination.min.css">

<script type="text/javascript" src="jquery/jquery-1.11.1-min.js"></script>
<script type="text/javascript" src="jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="jquery/bootstrap-datetimepicker-master/locale/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="jquery/bs_pagination-master/js/jquery.bs_pagination.min.js"></script>
<script type="text/javascript" src="jquery/bs_pagination-master/localization/en.js"></script>
<script type="text/javascript">

	$(function(){
		/**
		 * 给创建市场活动的按钮添加事件
		 */
		$("#createActivityBtn").click(function () {
			//init(可以在此写一些js，是toggle属性不能做的） ,清空上次的表单
			$("#createActivityForm").get(0).reset();	//重置表单

			//弹出创建市场活动的模态窗口
			$("#createActivityModal").modal("show");
		});

		/**
		 * 给保存按钮添加单击事件
		 */
		$("#saveCreateActivityBtn").click(function () {
			//收集此参数
			var owner = $("#create-marketActivityOwner").val();
			var name =$.trim($("#create-marketActivityName").val());
			var startDate = $("#create-startDate").val();
			var endDate = $("#create-endDate").val();
			var cost = $.trim($("#create-cost").val());
			var description = $.trim($("#create-description").val());
			//表单验证
			if (owner == ""){
				alert("所有者不能为空");
				return;
			}
			if (name == ""){
				alert("名称不能为空");
				return;
			}
			if (startDate!=""&&endDate!=""){
				if (startDate>endDate){
					alert("结束日期不能比开始日期小");
					return;
				}
			}
			//正则
			var regExp = /^(([1-9]\d*)|0)$/;
			if (!regExp.test(cost)){
				alert("成本非负");
				return;
			}

			//添加市场活动 的 发送请求
			$.ajax({
				url:'workbench/activity/saveCreateActivity.do',
				data:{
					owner:owner,
					name:name,
					startDate:startDate,
					endDate:endDate,
					cost:cost,
					description:description
				},
				type:'post',
				dataType:'json',
				success:function (data) {
					if (data.code == "1"){
						//保存成功，
						$("#createActivityModal").modal("hide");
						queryActivityByConditionForPage(1,$("#page").bs_pagination('getOption','rowsPerPage'));
					}else {
						alert(data.message);
						//失败回显信息，模态窗口不关闭,下面的代码可以不写
						$("#createActivityModal").modal("show");
					}
				}
			});
		});

		/**
		 * 日历插件  容器加载完后，对容器调用工具函数
		 */
		$(".mydate").datetimepicker({
			language:'zh-CN',
			format:'yyyy-mm-dd',
			minView:'month',	//可选择的最小视图
			initData:new Date(),	//初始化显示的时间
			autoclose:true,		//选择完自动关闭
			todayBtn:true,		//显示今天的按钮
			clearBtn:true		//显示清空按钮，但是是英文，改中文要在框架中修改
		});

		//分页 的 发送请求,主页加载完成显示第一页及数据总记录条数
		//查询时，不做去空格，参数验证等，因为对系统只读，无写数据
		queryActivityByConditionForPage(1,10);

		//给条件查询的查询 按钮 添加单击事件
		//分页 的 发送请求,主页加载完成显示第一页及数据总记录条数
		//type="submit" 是同步请求，返回的数据会覆盖整个页面，异步请求要改为button，绑定ajax 点击事件
		$("#queryActivityBtn").click(function () {
			queryActivityByConditionForPage(1,$("#page").bs_pagination('getOption','rowsPerPage'));
		});

		/**
		 * 给全选按钮添加单击事件,给checkbox绑定全选
		 */
		$("#checkAll").click(function () {
			//全选 this表示当前正在发生的对象的dom
			$("#tBody input[type='checkbox']").prop("checked",this.checked);
		});
		/*给选中的框来改变全选,由于是异步请求生成的标签，$.().click 绑定事件是 无效的. 所以使用jquery 的on函数来绑定
		$("#tBody input[type='checkbox']").click(function () {
			//判断是否都选中
			$("#checkAll").prop("checked",
					$("#tBody input[type='checkbox']").size() ==
					$("#tBody input[type='checkbox']:checkbox").size());
		});*/
		$("#tBody").on("click","input[type='checkbox']",function () {
			$("#checkAll").prop("checked",
					$("#tBody input[type='checkbox']").size() ==
					$("#tBody input[type='checkbox']:checked").size());
		});

		/**
		 * 给删除按钮添加单击事件
		 */
		$("#deleteActivityBtn").click(function () {
			//收集参数 选中的市场活动的id
			var $checkedIds = $("#tBody input[type='checkbox']:checked");
			if ($checkedIds.size()==0){
				alert("请选择要删除的市场活动");
				return;
			}
			if (window.confirm("确定要删除？")){
				var ids="";
				$.each($checkedIds,function (index, obj) {
					ids += "id="+this.value+"&";
				});
				ids = ids.substr(0,ids.length-1);
				//向后台发请求
				$.ajax({
					url:'workbench/activity/deleteActivityIds.do',
					//这里的ids变量是字符串，传到后端，后端controller接受的是字符串中处理好的键值 id ，
					// id = [],可以在浏览器查看发送的请求体的名称是 id ，所以后端要用id来接受，而不能使用ids
					data:ids,
					type:'post',
					dataType:'json',
					success:function (data) {
						if (data.code == "1"){
							queryActivityByConditionForPage(1,$("#page").bs_pagination('getOption','rowsPerPage'));
						}else {
							alert(data.message);
						}
					}
				});
			}
		});

		/**
		 * 给修改添加单击事件
		 */
		$("#editActivityBtn").click(function () {
			//收集参数 选中的市场活动的id
			var $checkedIds = $("#tBody input[type='checkbox']:checked");
			if ($checkedIds.size()==0){
				alert("请选择要修改的市场活动");
				return;
			}else if($checkedIds.size() > 1){
				alert("请选择单个修改的市场活动");
				return;
			}
			//下面三种都可以获取id值
			var id = $checkedIds.val();
			// var id = $checkedIds.get(0).value;
			// var id = $checkedIds[0].value;
			//发送请求,
			$.ajax({
				url:'workbench/activity/queryActivityById.do',
				data:{id:id},
				type:'get',
				dataType:'json',
				success:function (data) {
					//id是隐藏域，在修改时提交，主键
					//把市场活动的信息显示在模态窗口中
					$("#edit-id").val(data.id);
					$("#edit-marketActivityOwner").val(data.owner);
					$("#edit-marketActivityName").val(data.name);
					$("#edit-startDate").val(data.startDate);
					$("#edit-endDate").val(data.endDate);
					$("#edit-cost").val(data.cost);
					$("#edit-description").val(data.description);
					//弹出模态窗口
					$("#editActivityModal").modal("show");
				}
			});
		});

		/**
		 * 给更新按钮添加单击事件
		 */
		$("#updateActivityBtn").click(function () {
			//收集此参数
			var id = $("#edit-id").val();
			var owner = $("#edit-marketActivityOwner").val();
			var name =$.trim($("#edit-marketActivityName").val());
			var startDate = $("#edit-startDate").val();
			var endDate = $("#edit-endDate").val();
			var cost = $.trim($("#edit-cost").val());
			var description = $.trim($("#edit-description").val());
			//表单验证
			if (owner == ""){
				alert("所有者不能为空");
				return;
			}
			if (name == ""){
				alert("名称不能为空");
				return;
			}
			if (startDate!=""&&endDate!=""){
				if (startDate>endDate){
					alert("结束日期不能比开始日期小");
					return;
				}
			}
			var regExp = /^(([1-9]\d*)|0)$/;
			if (!regExp.test(cost)){
				alert("成本非负");
				return;
			}
			//添加市场活动 的 发送请求
			$.ajax({
				url:'workbench/activity/updateEditActivity.do',
				data:{
					id:id,
					owner:owner,
					name:name,
					startDate:startDate,
					endDate:endDate,
					cost:cost,
					description:description
				},
				type:'post',
				dataType:'json',
				success:function (data) {
					if (data.code == "1"){
						//修改成功，关闭模态窗口,页数和页大小不变
						$("#editActivityModal").modal("hide");
						queryActivityByConditionForPage($("#page").bs_pagination('getOption','currentPage'),$("#page").bs_pagination('getOption','rowsPerPage'));
					}else {
						alert(data.message);
						//失败回显信息，模态窗口不关闭,下面的代码可以不写
						$("#editActivityModal").modal("show");
					}
				}
			});
		});

		//下载文件只能使用同步下载，  controller回传时用response的字节流回传
		/**
		 * 给批量导出添加单击事件
		 */
		$("#exportActivityAllBtn").click(function () {
			window.location.href="workbench/activity/exportAllActivities.do";
		});

		/**
		 * 给选择导出添加单击事件,  bug:无跨页选择的功能包括删除
		 */
		$("#exportActivityXzBtn").on('click',function () {
			//收集参数 选中的市场活动的id
			var $checkedIds = $("#tBody input[type='checkbox']:checked");
			if ($checkedIds.size()==0){
				alert("请选择要导出的市场活动");
				return;
			}

			/*$("#exportXZForm").attr('action','workbench/activity/exportActivitiesByIds.do');
			$("#exportXZForm").attr('method','post');
			$("#exportXZForm").submit();*/
			var ids="";
			$.each($checkedIds,function (index, obj) {
				ids += "id="+this.value+"&";
			});
			ids = ids.substr(0,ids.length-1);
			window.location.href = "workbench/activity/exportActivitiesByIds.do?"+ids;
		});

		/**
		 * 给导入按钮绑定事件
		 */
		$("#importActivityBtn").click(function () {
			//收集参数
			var activityFileName = $("#activityFile").val();//只能获取文件名
			if (activityFileName.substr(activityFileName.lastIndexOf(".")+1).toLowerCase()!="xls"){
				alert("只支持xls文件");
				return;
			}
			//文件本身
			var activityFile = $("#activityFile")[0].files[0];
			if(activityFile.size > 5*1024*1024 ){
				alert("文件大小不能超过5M");
				return;
			}
			//批量添加市场活动 的 发送请求
			var formData = new FormData();
			//FormData是ajax提供的js接口,可以模拟键值对，向后台提交参数
			//FormData 不仅可以提交文本数据，还可以提交二进制数据
			formData.append("activityFile",activityFile);
			$.ajax({
				url:'workbench/activity/importActivitiesByList.do',
				data:formData,
				//文件上传只能使用post
				type:'post',
				//设置ajax向后台提交参数之前，是否把参数统一转换成字符串，默认true
				processData:false,
				//设置ajax向后台提交参数之前，是否使用urlencode编码，默认是true
				contentType:false,
				dataType:'json',
				success:function (data) {
					if (data.code == "1"){
						//保存成功，
						$("#importActivityModal").modal("hide");
						alert("成功导入"+data.retData+"条记录");
						queryActivityByConditionForPage(1,$("#page").bs_pagination('getOption','rowsPerPage'));
					}else {
						alert(data.message);
						//失败回显信息，模态窗口不关闭,下面的代码可以不写
						$("#importActivityModal").modal("show");
					}
				}
			});
		});


	});

	/**
	 * 分页回调函数
	 * @param pageNo 页号
	 * @param pageSize 每页大小
	 */
	function queryActivityByConditionForPage(pageNo,pageSize) {
		//收集参数
		var name = $("#query-name").val();
		var owner = $("#query-owner").val();
		var startDate = $("#query-startDate").val();
		var endDate = $("#query-endDate").val();
		//var pageNo=1;
		//var pageSize=10;
		//发送请求
		$.ajax({
			url: 'workbench/activity/queryActivityByConditionForPage.do',
			data: {
				name: name,
				owner: owner,
				startDate: startDate,
				endDate: endDate,
				pageNo: pageNo,
				pageSize: pageSize
			},
			type: 'post',
			dataType: 'json',
			success: function (data) {
				//显示总条数
				//$("#totalRowsB").text(data.totalRows);
				//显示市场活动的列表
				//遍历activityList，拼接所有行数据
				var htmlStr = "";
				$.each(data.activityList, function (index, obj) {
					htmlStr += "<tr class=\"active\">";
					htmlStr += "<td><input type=\"checkbox\" name='id' value=\"" + obj.id + "\"/></td>";
					htmlStr += "<td><a style=\"text-decoration: none; cursor: pointer;\" onclick=\"window.location.href='workbench/activity/detailActivity.do?id="+obj.id+"'\">" + obj.name + "</a></td>";
					htmlStr += "<td>" + obj.owner + "</td>";
					htmlStr += "<td>" + obj.startDate + "</td>";
					htmlStr += "<td>" + obj.endDate + "</td>";
					htmlStr += "</tr>";
				});
				$("#tBody").html(htmlStr);
				//当翻页的时候，对全选框清空
				$("#checkAll").prop("checked",false);

				//计算总页数
				var totalPages = 1;
				// if (data.totalRows % pageSize == 0) {
				// 	totalPages = data.totalRows / pageSize;
				// } else {
				// 	totalPages = parseInt(data.totalRows / pageSize) + 1;
				// }
				totalPages = Math.ceil(data.totalRows/pageSize);
				//对容器调用bs_pagination工具函数，显示翻页信息
				$("#page").bs_pagination({
					currentPage: pageNo,//当前页号,相当于pageNo

					rowsPerPage: pageSize,//每页显示条数,相当于pageSize
					totalRows: data.totalRows,//总条数
					totalPages: totalPages,  //总页数,必填参数.

					visiblePageLinks: 5,//最多可以显示的卡片数

					showGoToPage: true,//是否显示"跳转到"部分,默认true--显示
					showRowsPerPage: true,//是否显示"每页显示条数"部分。默认true--显示
					showRowsInfo: true,//是否显示记录的信息，默认true--显示

					//用户每次切换页号，都自动触发本函数;
					//每次返回切换页号之后的pageNo和pageSize
					onChangePage: function (event, pageObj) { // returns page_num and rows_per_page after a link has clicked
						queryActivityByConditionForPage(pageObj.currentPage, pageObj.rowsPerPage);
					}
				});
			}
		});
	}
</script>
</head>
<body>

	<!-- 创建市场活动的模态窗口 -->
	<div class="modal fade" id="createActivityModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 85%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel1">创建市场活动</h4>
				</div>
				<div class="modal-body">
				
					<form id="createActivityForm" class="form-horizontal" role="form">
					
						<div class="form-group">
							<label for="create-marketActivityOwner" class="col-sm-2 control-label">所有者<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" id="create-marketActivityOwner">
<!--								  <option>zhangsan</option>-->
<!--								  <option>lisi</option>-->
<!--								  <option>wangwu</option>-->
									<!--可以正常显示，但是爆红-->
									<option th:each="user:${userList}" th:value="${user.id}" th:text="${user.name}"></option>
								</select>
							</div>
                            <label for="create-marketActivityName" class="col-sm-2 control-label">名称<span style="font-size: 15px; color: red;">*</span></label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="create-marketActivityName">
                            </div>
						</div>
						
						<div class="form-group">
							<label for="create-startDate" class="col-sm-2 control-label">开始日期</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control mydate" style="cursor: pointer" id="create-startDate" readonly>
							</div>
							<label for="create-endDate" class="col-sm-2 control-label">结束日期</label>
							<div class="col-sm-10" style="width: 300px;">
								<!--class 中可以有多个值，使用空格分开-->
								<input type="text" class="form-control mydate" style="cursor: pointer" id="create-endDate" readonly>
							</div>
						</div>
                        <div class="form-group">

                            <label for="create-cost" class="col-sm-2 control-label">成本</label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="create-cost">
                            </div>
                        </div>
						<div class="form-group">
							<label for="create-description" class="col-sm-2 control-label">描述</label>
							<div class="col-sm-10" style="width: 81%;">
								<textarea class="form-control" rows="3" id="create-description"></textarea>
							</div>
						</div>
						
					</form>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="saveCreateActivityBtn">保存</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 修改市场活动的模态窗口 -->
	<div class="modal fade" id="editActivityModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 85%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel2">修改市场活动</h4>
				</div>
				<div class="modal-body">
				
					<form class="form-horizontal" role="form">
						<input type="hidden" id="edit-id" readonly>
						<div class="form-group">
							<label for="edit-marketActivityOwner" class="col-sm-2 control-label">所有者<span style="font-size: 15px; color: red;">*</span></label>
							<div class="col-sm-10" style="width: 300px;">
								<select class="form-control" id="edit-marketActivityOwner">
									<option th:each="user:${userList}" th:value="${user.id}" th:text="${user.name}"></option>
								</select>
							</div>
                            <label for="edit-marketActivityName" class="col-sm-2 control-label">名称<span style="font-size: 15px; color: red;">*</span></label>
                            <div class="col-sm-10" style="width: 300px;">
                                <input type="text" class="form-control" id="edit-marketActivityName" value="发传单">
                            </div>
						</div>

						<div class="form-group">
							<label for="edit-startDate" class="col-sm-2 control-label">开始日期</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control mydate" style="cursor: pointer" id="edit-startDate" value="2020-10-10">
							</div>
							<label for="edit-endDate" class="col-sm-2 control-label">结束日期</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control mydate" style="cursor: pointer" id="edit-endDate" value="2020-10-20">
							</div>
						</div>
						
						<div class="form-group">
							<label for="edit-cost" class="col-sm-2 control-label">成本</label>
							<div class="col-sm-10" style="width: 300px;">
								<input type="text" class="form-control" id="edit-cost" value="5,000">
							</div>
						</div>
						
						<div class="form-group">
							<label for="edit-description" class="col-sm-2 control-label">描述</label>
							<div class="col-sm-10" style="width: 81%;">
								<textarea class="form-control" rows="3" id="edit-description">市场活动Marketing，是指品牌主办或参与的展览会议与公关市场活动，包括自行主办的各类研讨会、客户交流会、演示会、新产品发布会、体验会、答谢会、年会和出席参加并布展或演讲的展览会、研讨会、行业交流会、颁奖典礼等</textarea>
							</div>
						</div>
						
					</form>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" id="updateActivityBtn">更新</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 导入市场活动的模态窗口 -->
    <div class="modal fade" id="importActivityModal" role="dialog">
        <div class="modal-dialog" role="document" style="width: 85%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">导入市场活动</h4>
                </div>
                <div class="modal-body" style="height: 350px;">
                    <div style="position: relative;top: 20px; left: 50px;">
                        请选择要上传的文件：<small style="color: gray;">[仅支持.xls]</small>
                    </div>
                    <div style="position: relative;top: 40px; left: 50px;">
                        <input type="file" id="activityFile">
                    </div>
                    <div style="position: relative; width: 400px; height: 320px; left: 45% ; top: -40px;" >
                        <h3>重要提示</h3>
                        <ul>
                            <li>操作仅针对Excel，仅支持后缀名为XLS的文件。</li>
                            <li>给定文件的第一行将视为字段名。</li>
                            <li>请确认您的文件大小不超过5MB。</li>
                            <li>日期值以文本形式保存，必须符合yyyy-MM-dd格式。</li>
                            <li>日期时间以文本形式保存，必须符合yyyy-MM-dd HH:mm:ss的格式。</li>
                            <li>默认情况下，字符编码是UTF-8 (统一码)，请确保您导入的文件使用的是正确的字符编码方式。</li>
                            <li>建议您在导入真实数据之前用测试文件测试文件导入功能。</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="importActivityBtn" type="button" class="btn btn-primary">导入</button>
                </div>
            </div>
        </div>
    </div>
	
	
	<div>
		<div style="position: relative; left: 10px; top: -10px;">
			<div class="page-header">
				<h3>市场活动列表</h3>
			</div>
		</div>
	</div>
	<div style="position: relative; top: -20px; left: 0px; width: 100%; height: 100%;">
		<div style="width: 100%; position: absolute;top: 5px; left: 10px;">

			<div class="btn-toolbar" role="toolbar" style="height: 80px;">
				<form class="form-inline" role="form" style="position: relative;top: 8%; left: 5px;">

				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">名称</div>
				      <input class="form-control" type="text" id="query-name">
				    </div>
				  </div>

				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">所有者</div>
				      <input class="form-control" type="text" id="query-owner">
				    </div>
				  </div>


				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">开始日期</div>
					  <input class="form-control mydate" style="cursor: pointer" type="text" id="query-startDate" readonly/>
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="input-group">
				      <div class="input-group-addon">结束日期</div>
					  <input class="form-control mydate" style="cursor: pointer" type="text" id="query-endDate" readonly>
				    </div>
				  </div>

					<!--type="submit" 是同步请求，返回的数据会覆盖整个页面，异步请求要改为button，绑定ajax 点击事件-->
				  <button type="button" class="btn btn-default" id="queryActivityBtn">查询</button>

				</form>
			</div>
			<div class="btn-toolbar" role="toolbar" style="background-color: #F7F7F7; height: 50px; position: relative;top: 5px;">
				<div class="btn-group" style="position: relative; top: 18%;">

					<!--使用的是toggle属性来打开模态窗口，一般使用js也可以来打开模态窗口-->
<!--				  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createActivityModal"><span class="glyphicon glyphicon-plus"></span> 创建</button>-->
				  <button type="button" class="btn btn-primary" id="createActivityBtn"><span class="glyphicon glyphicon-plus"></span> 创建</button>

				  <button type="button" class="btn btn-default" id="editActivityBtn"><span class="glyphicon glyphicon-pencil"></span> 修改</button>
				  <button type="button" class="btn btn-danger" id="deleteActivityBtn"><span class="glyphicon glyphicon-minus"></span> 删除</button>
				</div>
				<div class="btn-group" style="position: relative; top: 18%;">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#importActivityModal" ><span class="glyphicon glyphicon-import"></span> 上传列表数据（导入）</button>
                    <button id="exportActivityAllBtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-export"></span> 下载列表数据（批量导出）</button>
                    <button id="exportActivityXzBtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-export"></span> 下载列表数据（选择导出）</button>
                </div>
			</div>
			<div style="position: relative;top: 10px;">
				<table class="table table-hover">
					<thead>
						<tr style="color: #B3B3B3;">
							<td><input type="checkbox" id="checkAll"/></td>
							<td>名称</td>
                            <td>所有者</td>
							<td>开始日期</td>
							<td>结束日期</td>
						</tr>
					</thead>
					<tbody id="tBody">


					</tbody>
				</table>
			</div>

			<!--page-->
			<div id="page"></div>
			<!--
			<div style="height: 50px; position: relative;top: 30px;">
				<div>
					<button type="button" class="btn btn-default" style="cursor: default;">共<b id="totalRowsB">50</b>条记录</button>
				</div>
				<div class="btn-group" style="position: relative;top: -34px; left: 110px;">
					<button type="button" class="btn btn-default" style="cursor: default;">显示</button>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							10
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">20</a></li>
							<li><a href="#">30</a></li>
						</ul>
					</div>
					<button type="button" class="btn btn-default" style="cursor: default;">条/页</button>
				</div>
				<div style="position: relative;top: -88px; left: 285px;">
					<nav>
						<ul class="pagination">
							<li class="disabled"><a href="#">首页</a></li>
							<li class="disabled"><a href="#">上一页</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">下一页</a></li>
							<li class="disabled"><a href="#">末页</a></li>
						</ul>
					</nav>
				</div>
			</div>-->

		</div>
		
	</div>
</body>
</html>